<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            $("#submit").click(function (e) {
                e.preventDefault()
                $.post("/",
                    {
                        res: $("#words-array").val()
                    },
                    function (data, status) {

                        console.log("Data: " + data + "\nStatus: " + status);
                        var str = ''
                        for (var key in data) {
                            if (data[key].length > 1)
                                str += '[' + key + '=[' + data[key] + '], ';
                        }
                        str = str.substring(0, str.length - 2) + ']'
                        $("#res").append(str)
                    });
            })
        })
    </script>
</head>
<body>
<h3>please enter array of words</h3>
<br/>
<label for="words-array">your array</label>
<br/>
<textarea id="words-array" name="words-array" path="content"></textarea>
<br/>
<button id="submit">press me</button>
<p id="res"></p>
</body>
</html>